:root {
    --button-content-bg: rgb(179, 231, 149);
}

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    display: flex;
    justify-content: center;
}

.card-content-centre {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.start-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 54px;
    width: 140px;
    line-height: 20px;
    background-color: var(--button-content-bg);
    font-size: large;
    border-radius: 12px;
}